<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        @font-face { font-family: 'Eoe_Zno_M'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_M.woff') format('woff'); font-weight: normal; font-style: normal; }
     body{
        text-align: center;
        font-weight: 300px;
        font-family: 'Eoe_Zno_M';
        margin-top: 200px;
        font-size: 40px;
     }
    </style>
</head>
<body>
    탈퇴가 성공적으로 이루어졌습니다. 
</body>
</html>